@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h3 {
  font-size: 30px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-size: 12px;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
body {
  width: 100%;
}
/* header */
.logo {
  font-size: 25px;
  font-weight: bolder;
  color: black;
}
.logo i{
  color: #088178;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,#navbar li a.active {
    color: #088178;
}
#navbar li a.active::after,#navbar li a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #088178;
    margin-top: 5px;
}
/* end header */
/* home page */
#hero {
    background-image: url(/img/bg8.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#hero h4 {
    padding-bottom: 15px;
}
#hero h1 {
    color: #088178;
}
#hero button {
    background-image: url(/img/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 211, 0.1);
} 
#feature .fe-box img {
  width: 100px;
  margin-bottom: 10px;
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6 {
  background-color: #c5b6ef;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #cde6dc;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #f0db9f;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #d3d282;
}

#product1{
    text-align: center;
}
#product1 .pro-conteiner{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}
#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i{
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart {
  width:40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#product1 .pro .des span{
  text-decoration: line-through;
  color: #606063;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/img/bg14.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: #fff;
  padding-bottom: 16px;
}
#banner h2 {
  color: #fff;
  padding-bottom: 30px;
  padding: 10 0;
}
#banner h2 span {
  color: red;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
#banner button:hover {
  background-color: #088178;
  color: #fff;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer  .copyright
{
  /* canh giữa màn hình */
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #f9f9f9;
  color: #465b52;
  font-size: 12px;
  margin-top: 20px;
}
/*end home page */

/* shop page */
#page-header {
  background-image: url(/img/bg14.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2,#page-header p {
  color: #fff;
}
#trang {
  text-align: center;
}
#trang a {
  text-decoration: none;
  color: #088178;
  font-size: 14px;
  padding: 10px 15px;
  border: 1px solid #088178;
  border-radius: 4px;
  margin: 0 5px;
}
#trang a.active2 {
  background-color: #088178;
  color: #fff;
}
#trang a:hover {
  background-color: #088178;
  color: #fff;
} 
/*end shop page */

/* chitietsanpham */
#chitiet .chitiethinhanh {
  width: 40%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#chitiet {
  display: flex;
  margin-top: 20px;
}
#chitiet .chitietsanpham {
  width: 50%;
  padding-top: 30px;
}
#chitiet .chitietsanpham h4 {
  padding: 40px 0 20px 0;
}
#chitiet .chitietsanpham h2 {
  font-size: 26px;
}
#chitiet .chitietsanpham select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#chitiet .chitietsanpham input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#chitiet .chitietsanpham button {
  background: #088178;
  color: #fff;
}
#chitiet .chitietsanpham input:focus {
  outline: none;
}
#chitiet .chitietsanpham span {
  line-height: 25px;
}
/*end chitietsanpham */

/* Dang nhap */
#login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f9f9f9;
}
.login-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: 480px;
  padding: 30px;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.1);
}
.login-header{
  text-align: center;
  margin: 20px 0 40px 0;

}
.login-header header{
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.input-box .input-field{
  width: 100%;
  height: 60px;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
  outline: none;
  transition: .3s;
}
::placeholder{
  font-weight: 500;
  color: #222;
}
.input-field:focus{
  width: 105%;
}
.forgot{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.forgot label{
  font-size: 15px;
}
#login .section{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}
#check{
  margin-right: 10px;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
section a{
  color: #555;
}
.input-submit{
  position: relative;
}
.submit-btn{
  width: 100%;
  height: 60px;
  background: #222;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}
.input-submit label{
  position: absolute;
  top: 45%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.submit-btn:hover{
  background: #000;
  transform: scale(1.05,1);
}
.sign-up-link{
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
.sign-up-link a{
  color: #000;
  font-weight: 600;
}
#loginMessage{
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
}
/*end Dang nhap */

/* Dang Ky */
#register{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  background: #f9f9f9;
  width: 100%;
}
.register-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: 750px;
  padding: 30px;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.1);
}
.register-header{
  text-align: center;
  margin: 20px 0 40px 0;

}
.register-header header{
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
#register.section{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}
#registerMessage {
  color: red;
  font-size: 14px;
}
/* end Dang Ky */

/* Gio hang */
#giohang table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#giohang table img {
  width: 70px;
}
#giohang table td:nth-child(1) {
  width: 100px;
  text-align: center;
}#giohang table td:nth-child(2) {
  width: 150px;
  text-align: center;
}#giohang table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#giohang table td:nth-child(4),#giohang table td:nth-child(5),#giohang table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#giohang table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#giohang table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#giohang table thead td {
  padding: 18px 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px 0;
}
#giohang table tbody tr td {
  padding-top: 15px;
}
#giohang table tbody td {
  padding: 13px;
}
#add {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#coupons {
  width: 50%;
  margin-bottom: 30px;
}
#coupons h3,#total h3 {
  padding-bottom: 15px;
}
#coupons input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupons button,#total button{
  padding: 10px 20px;
  background-color: #088178;
  color: #fff;
  border: none;
  cursor: pointer;
}
#coupons button:hover,#total button:hover{
  background-color: #000;
}
#total {
  width: 50%;
  padding: 20px;
  border: 1px solid #e2e9e1;
  border-radius: 10px;
}
#total table {
  width: 100%;
}
#total table td {
  padding: 10px 0;

}
/* end Gio hang */